name: Bump version
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to bump (without prepending "v")'
        required: true

jobs:
  bump:
    name: Bump release version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install dasel
        run: curl -sSLf "$(curl -sSLf https://api.github.com/repos/tomwright/dasel/releases/latest | grep browser_download_url | grep linux_amd64 | grep -v .gz | cut -d\" -f 4)" -L -o dasel && chmod +x dasel && mv ./dasel /usr/local/bin/dasel
      - name: Bump version overwriting libs.versions.toml
        run: dasel -f gradle/libs.versions.toml put -t string -v "${{ github.event.inputs.version }}" ".versions.restate"
      - name: Create version bump PR
        uses: peter-evans/create-pull-request@v3
        with:
          title: "[Release] Bump to ${{ github.event.inputs.version }}"
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Bump to ${{ github.event.inputs.version }}"
          signoff: true
          branch: "bump/${{ github.event.inputs.version }}"
          body: >
            This PR performs the bump of the SDK to ${{ github.event.inputs.version }}.
            This PR is auto-generated by
            [create-pull-request](https://github.com/peter-evans/create-pull-request).