{{#packageName}}
package {{packageName}};
{{/packageName}}

import dev.restate.sdk.kotlin.Context;
import dev.restate.sdk.kotlin.KeyedContext;
import dev.restate.sdk.kotlin.Awaitable;
import dev.restate.sdk.kotlin.RestateKtService;
import dev.restate.sdk.common.syscalls.Syscalls;
import io.grpc.kotlin.ClientCalls.unaryRpc
import io.grpc.kotlin.ServerCalls.unaryServerMethodDefinition
import {{packageName}}.{{serviceName}}Grpc.getServiceDescriptor;
import kotlin.time.Duration

{{#deprecated}}
@Deprecated
{{/deprecated}}
public object {{className}} {

    /**
     * Create a new client from the given [Context].
     */
    fun newClient(ctx: Context): {{serviceName}}RestateKtClient {
        return {{serviceName}}RestateKtClient(ctx);
    }

{{{javadoc}}}
    public class {{serviceName}}RestateKtClient(private val ctx: Context) {
        // Create a variant of this client to execute oneWay calls.
        public fun oneWay(): {{serviceName}}RestateKtOneWayClient {
            return {{serviceName}}RestateKtOneWayClient(ctx);
        }

        // Create a variant of this client to execute delayed calls.
        public fun delayed(delay: Duration): {{serviceName}}RestateKtDelayedClient {
            return {{serviceName}}RestateKtDelayedClient(ctx, delay);
        }

        {{#methods}}
        {{#deprecated}}@Deprecated{{/deprecated}}
{{{javadoc}}}
        public suspend fun {{topLevelClientMethodName}}({{^isInputEmpty}}request: {{inputType}}{{/isInputEmpty}}): Awaitable<{{outputType}}> {
            return this.ctx.callAsync({{packageName}}.{{serviceName}}Grpc.{{methodDescriptorGetter}}(), {{#isInputEmpty}}com.google.protobuf.Empty.getDefaultInstance(){{/isInputEmpty}}{{^isInputEmpty}}request{{/isInputEmpty}});
        }

        {{/methods}}
    }

    public class {{serviceName}}RestateKtOneWayClient(private val ctx: Context) {
        {{#methods}}
        {{#deprecated}}@Deprecated{{/deprecated}}
{{{javadoc}}}
        public suspend fun {{methodName}}({{^isInputEmpty}}request: {{inputType}}{{/isInputEmpty}}) {
            this.ctx.oneWayCall({{packageName}}.{{serviceName}}Grpc.{{methodDescriptorGetter}}(), {{#isInputEmpty}}com.google.protobuf.Empty.getDefaultInstance(){{/isInputEmpty}}{{^isInputEmpty}}request{{/isInputEmpty}});
        }

        {{/methods}}
    }

    public class {{serviceName}}RestateKtDelayedClient(private val ctx: Context, private val delay: Duration) {
        {{#methods}}
        {{#deprecated}}@Deprecated{{/deprecated}}
{{{javadoc}}}
        public suspend fun {{methodName}}({{^isInputEmpty}}request: {{inputType}}{{/isInputEmpty}}) {
            this.ctx.delayedCall({{packageName}}.{{serviceName}}Grpc.{{methodDescriptorGetter}}(), {{#isInputEmpty}}com.google.protobuf.Empty.getDefaultInstance(){{/isInputEmpty}}{{^isInputEmpty}}request{{/isInputEmpty}}, this.delay);
        }

        {{/methods}}
    }

{{{javadoc}}}
    public abstract class {{serviceName}}RestateKtImplBase(
            private val coroutineContext: kotlin.coroutines.CoroutineContext = kotlinx.coroutines.Dispatchers.Unconfined,
        ): RestateKtService {

        {{#methods}}
        {{#deprecated}}
        @Deprecated
        {{/deprecated}}
{{{javadoc}}}
        public open suspend fun {{methodName}}(context: {{contextType}}{{^isInputEmpty}}, request: {{inputType}} {{/isInputEmpty}}){{^isOutputEmpty}}: {{outputType}}{{/isOutputEmpty}} {
            throw dev.restate.sdk.common.TerminalException(dev.restate.sdk.common.TerminalException.Code.UNIMPLEMENTED);
        }

        {{/methods}}
            final override fun bindService(): io.grpc.ServerServiceDefinition {
            return io.grpc.ServerServiceDefinition.builder(getServiceDescriptor())
                    {{#methods}}
                    .addMethod(unaryServerMethodDefinition(
                        context = this.coroutineContext,
                        descriptor = {{packageName}}.{{serviceName}}Grpc.{{methodDescriptorGetter}}(),
                        implementation = {
                            {{#isInputEmpty}}{{#isOutputEmpty}}
                            {{methodName}}(KeyedContext.fromSyscalls(Syscalls.current()))
                            return@unaryServerMethodDefinition com.google.protobuf.Empty.getDefaultInstance()
                            {{/isOutputEmpty}}{{/isInputEmpty}}
                            {{#isInputEmpty}}{{^isOutputEmpty}}
                            return@unaryServerMethodDefinition {{methodName}}(KeyedContext.fromSyscalls(Syscalls.current()))
                            {{/isOutputEmpty}}{{/isInputEmpty}}
                            {{^isInputEmpty}}{{#isOutputEmpty}}
                            {{methodName}}(KeyedContext.fromSyscalls(Syscalls.current()), it)
                            return@unaryServerMethodDefinition com.google.protobuf.Empty.getDefaultInstance()
                            {{/isOutputEmpty}}{{/isInputEmpty}}
                            {{^isInputEmpty}}{{^isOutputEmpty}}
                            return@unaryServerMethodDefinition {{methodName}}(KeyedContext.fromSyscalls(Syscalls.current()), it)
                            {{/isOutputEmpty}}{{/isInputEmpty}}
                        }
                    ))
                    {{/methods}}
                    .build();
        }
    }

}